<h2>MESSAGES</h2>
<div #scrollMe class = "message-board">
  <div *ngIf="trip" >
    <div *ngIf="trip.messages.length == 0">
      <p>No messages yet.</p>
    </div>
    <div class = "message" *ngFor="let message of trip.messages">
      <p>
        <span class = "author">{{message.messageAuthor.firstName}} {{message.messageAuthor.lastName}}</span>
      </p>
      <p>{{message.messageContent}}</p>
      <span class = "message-date" >Posted On: {{message.createdAt | date: "medium"}}</span>
    </div>
  </div>
  <div *ngIf = "!trip">
    <i class = "fa fa-refresh fa-spin"></i>
  </div>
</div>
<div class = "messageForm">
  <textarea #messageBox id = "messagebox"></textarea>
  <p><button id = "submitButton" (click)="addMessage(messageBox.value)">Add a message!</button></p>
</div>