*{
    margin:0;
    padding:0;
}
#main-container{
    width: 90%;
    margin:auto;
}
/************************TRIPS PAGE*************************/
#agenda-container,#sidebar-container{
    display: inline-block;
    vertical-align: top;
    height:800px;
    overflow-y:scroll;
}
#agenda-container{
    width: 65%;
    margin-right:3%;
    background-color: azure;
}
#sidebar-container{
    width:28%;
    padding:2%;
    background-color:bisque;
    overflow:hidden;
}
#proposed-container,#suggestions-container{
    height:50%;
    overflow-y:scroll;
}
#proposed-container{
    position: relative;
    height:45%;
   /*  background-color:cadetblue; */
}
/******************DRAG TO DELETE START********************/
#delete-activities{
    width:80%;
    height: 5%;
    position: relative;
    left: 10%;
    bottom: 0;
    right: 0;
    border: 2px dashed brown;
    background-color:#D9534F;
}
#background-delete {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    color:white;
    font-size: 16px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
 }
 /******************DRAG TO DELETE END********************/
#suggestions-container{
   /*  background-color: coral; */
}
.single-activity{
    width:80%;
    margin:auto auto 2% auto;
    border:1px solid black;
}
.single-agenda,.sidebar-days{
    display: inline-block;
    vertical-align: top;
}
.sidebar-days{
    width:26%;
    border: 1px solid silver;
    padding:2%;
}
.single-agenda{
    position: relative;
    width:65%;
    height:640px;
    margin-left:2%;
   /*  border: 1px solid silver; */
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    line-height: 640px;
    text-align: center;
    color:silver;
    font-size: 30px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
 }
.agenda-day{
    height:100%;
    border: 2px dashed silver;
}
/* .day-number{
    width:20%;
    border:1px solid silver;
} */
/*********************************/
/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
   /*  width: 30%;
    height: 300px; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}
