<app-navigationbar></app-navigationbar>
<div id="dashboard-image"></div>
<div *ngIf="user">
  <div id="profile">
      <h2>PROFILE</h2>
    <table>
      <tr>
        <td>Name:</td>
        <td>{{user.firstName}} {{user.lastName}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td>User since:</td>
        <td>{{user.createdAt | date:"longDate"}} </td>
      </tr>
    </table>
  </div>
  <!-- <div *ngIf="user.tripsCreated.length > 0">
    <h3>Trips Administrating</h3>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>From</th>
          <th>To</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tr *ngFor="let admintrip of user.tripsCreated">
        <td><a href = "/trips/plan/{{admintrip.id}}">{{admintrip.title}}</a></td>
        <td>{{admintrip.date_from | date: "yyyy-MM-dd" }}</td>
        <td>{{admintrip.date_to | date: "yyyy-MM-dd" }}</td>
        <td>{{admintrip.description}}</td>
        <td><a href = "/trips/plan/{{admintrip.id}}/invite">Invite people!</a></td>
      </tr>
    </table>
  </div>
  <div *ngIf="user.tripsAttending.length > 0">
    <h3>Trips Attending</h3>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>From</th>
            <th>To</th>
            <th>Description</th>
          </tr>
        </thead>
        <tr *ngFor="let trip of user.tripsAttending">
          <td><a href = "/trips/plan/{{trip.id}}">{{trip.title}}</a></td>
          <td>{{trip.date_from | date: "yyyy-MM-dd" }}</td>
          <td>{{trip.date_to | date: "yyyy-MM-dd" }}</td>
          <td>{{trip.description}}</td>
        </tr>
      </table>
  </div>
  <div *ngIf="user.tripsInvited.length > 0">
    <h3>Trips Invited</h3>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>From</th>
            <th>To</th>
            <th>Description</th>
            <th>Accept</th>
          </tr>
        </thead>
        <tr *ngFor="let trip of user.tripsInvited">
          <td><a href = "/trips/plan/{{trip.id}}">{{trip.title}}</a></td>
          <td>{{trip.date_from | date: "yyyy-MM-dd" }}</td>
          <td>{{trip.date_to | date: "yyyy-MM-dd" }}</td>
          <td>{{trip.description}}</td>
          <td><button (click)="acceptInvitation(trip)">Accept Invitation</button></td>
        </tr>
      </table>
  </div> -->


<!-- <div *ngIf="!user">
  <h1>Loading...</h1>
</div>

<p><a [routerLink]="['/createtrip']">Add Travel Plan</a></p>


<app-user-search></app-user-search> -->
  <div class = "calendar">
      <h2>CALENDAR</h2>
    <app-calendar [selectedTrip] = "selectedTrip" (eventEmitter)="scrollToTrip($event)"></app-calendar>
  </div>
  <div class = "trips-div">
    <div *ngIf = "tripsAttending.length != 0">
      <h2>UPCOMING TRIPS</h2>
      <div class = "trips-attending-wrapper">
        <div *ngFor = "let trip of tripsAttending" class = "trips-attending" (click) = "setCalendarToTrip(trip)" [id] = "'trip' + trip.id">
          <p><a href = "/trips/plan/{{trip.id}}">{{trip.title}}</a></p>
          <p>What's about: {{trip.description}}</p>
          <p class="dates">Dates: {{trip.date_from | date: "yyyy-MM-dd"}} - {{trip.date_to | date: "yyyy-MM-dd"}}</p>
          <p *ngIf="trip.role == 'admin'"><a href = "/trips/plan/{{trip.id}}/invite"><button>Invite friends!</button></a></p>
        </div>
      </div>
    </div>
    <div *ngIf = "user.tripsInvited.length != 0">
      <h2>INVITED TRIPS</h2>
      <div class = "trips-invited-wrapper">
        <div *ngFor = "let trip of user.tripsInvited" class = "trips-invited" (click) = "setCalendarToTrip(trip)" [id] = "'trip' + trip.id">
          <p>{{trip.title}}</p>
          <p>{{trip.description}}</p>
          <p class="dates">{{trip.date_from | date: "yyyy-MM-dd"}} - {{trip.date_to | date: "yyyy-MM-dd"}}</p>
          <button (click)="acceptInvitation(trip)">Accept Invitation</button>
        </div>
      </div>
    </div>
  </div>
</div>
