<app-navigationbar></app-navigationbar>
<div id="invite-image">
  </div>
<div *ngIf="trip" class = "invite-wrapper">
  <div class = "people-wrapper">
    <div class="trip-info">
      <h2>{{trip.title.toUpperCase()}}</h2>
      <p>Description: {{trip.description}}</p>
      <p>Date: {{trip.date_from | date: "shortDate"}} - {{trip.date_to | date: "shortDate"}}</p>
      <p class = "error" *ngIf="errorMessage">{{errorMessage}}</p>
      <div class = "user-search">
        <app-user-search [currenttrip] = "trip" (inviteUserEmitter)="inviteUser($event)"></app-user-search>
      </div>
    </div>
    <div class="friends-wrapper">
      <div class = "tripattendees trippeople">
        <h2>ATTENDEES:</h2>
        <li *ngFor="let admin of trip.admins" class = "people">{{admin.firstName}} {{admin.lastName}} ({{admin.email}}) - <span id = "admin">Admin</span></li>
        <li *ngFor="let guest of trip.guests" class = "people">
          <span>{{guest.firstName}} {{guest.lastName}} ({{guest.email}})</span>
          <button (click)="makeTripAdmin(guest)">Make Admin</button>
        </li>
      </div>
      <div class = "tripinvited trippeople">
        <h2>INVITED:</h2>
        <li *ngFor="let invitee of trip.invitees" class = "people">
          <span>{{invitee.firstName}} {{invitee.lastName}} ({{invitee.email}})</span>
          <button (click)="uninviteUser(invitee)">Uninvite</button>
        </li>
      </div>
    </div>
    <div class = "message-board">
        <app-messageboard [trip] = "trip"></app-messageboard>
      </div>
  </div>
 
  
</div>
<div *ngIf="!trip">
  <h1>Loading page...</h1>
</div>
