.search-result li {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 300px;
    height: 23px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
    padding-top:0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

.search-result li:hover {
    background-color: #607D8B;
}

.search-result li a {
    color: #888;
    display: block;
    text-decoration: none;
}

.search-result li a:hover {
    color: white;
}
.search-result li a:active {
    color: white;
}
#search-box {
    width: 300px;
}


ul.search-result {
    margin-top: 0;
    padding-left: 0;
    position:absolute;
}