.error{
    color:red;
    font-size:10px;
}
button{
    margin-right:0px;
    margin-top: 5px;
    float:right;
}
p{
    font-size:12px;
    color:silver;
}
a{
    color:#62B4A7;
}
#register-title{
    height:200px;
    background: url("../../assets/images/register.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
form{
    margin:auto;
    padding:20px;
    background-color: #fafafa;
}
h2{
    color:#62B4A7;
    margin:auto;
    padding:10px 20px;
    background-color: #fafafa;
}
table,input{
    width:100%;
}
.register-wrapper{
    width: 45%;
    margin: auto;
    padding:3%;
    background-color: #fafafa;
    min-height: 700px;
}