<p>
  dir-api-testing works!
</p>
<div class="input-container">
  <input
    google-places
    (onSelect)="apiCall($event)"
    type="text"
    class="google-place-input"
    placeholder="Type to search..">
    <!-- Displaying the contents of the address object received from our event emitter -->
    <ul style="list-style-type: none;">
      <li *ngFor="let key of addrKeys">
        <span style="font-weight: bold">{{key}}</span>: <span>{{addr[key]}}</span>
      </li>
    </ul>
</div>
<div id="map" #gmap style="width:100%;height:400px"></div>
