#liked{
    background-color:white;
    font-size:16px;
    color:purple;
}
#notliked{
    background-color:white;
    font-size:16px;
    color:#666666;
}
.likedicon, .notlikedicon{
    background-color:white;
    font-size:16px;
}
