<div>
  <h2>Current Trip: {{currentTrip.title}}</h2>
  <p>Navbar(map/travel buddies)</p>
</div>
<div id="agenda-container">
    <h2>Agenda</h2>
  <!--  start agendas(days) -->
  <div  class="sidebar-days">
      <h3 *ngFor="let agenda of agendas" class="day-number" (click)="selectDay(agenda.day)">Day {{agenda.day}}</h3>
      <button (click)="createNewDay()">add day</button>
  </div><div
   class="single-agenda">
      <div droppable  [dropScope]="'agendaDay'" (onDrop)="onActivityDrop($event)" class="agenda-day">
        <div *ngFor="let activity of currentAgenda.activities" class="single-activity">
          <h3>{{activity.location}}</h3>
          <p>{{activity.description}}</p>
        </div>
      </div>
  </div>
<!-- end agendas(days) -->
</div><div
id="sidebar-container">
<!-- start activities (proposed) -->
 <div droppable (onDrop)="onSuggestionDrop($event)" id="proposed-container">
   <h2>Proposed</h2>
   <div draggable [dragScope]="'agendaDay'" *ngFor="let activity of droppedSuggestions"  [dragData]="activity" class="single-activity">
     <h3>{{activity.location}}</h3>
     <p>{{activity.description}}</p>
   </div>
<!-- end activities (proposed) -->
 </div><div
  id="suggestions-container">
    <h2>Suggestions</h2>
    <p>I am looking for...</p>
    <select [(ngModel)]="suggestion_type" (change)="getNearbySearches()">
      <option value="point_of_interest">Anything</option>
      <option value="bar">Bar</option>
      <option value="cafe">Cafe</option>
      <option value="restaurant">Restaurant</option>
      <option value="shopping_mall">Shopping Mall</option>
      <option value="park">Park</option>
      <option value="lodging">Lodging</option>
      <option value="airport">Airport</option>
    </select>
    <input
    google-places
    (onSelect)="apiCall($event)"
    type="text"
    class="google-place-input"
    placeholder="Type to search..">
    <div id="map" #gmap></div>
    <div draggable *ngFor="let suggestion of suggestions" [dragData]="suggestion" class="single-activity">
      <h3>{{suggestion.location}}</h3>
      <p>{{suggestion.description}}</p>
    </div>
    <p *ngIf="suggestions.length == 0">No suggestions found</p>
  </div>
</div>
<app-user-search></app-user-search>

