<app-navigationbar></app-navigationbar>
<div id="login-image">EXPLORE &#164; RELAX &#164; ENJOY</div>
<div class="login-wrapper">
  <h2>Sign in</h2>
  <form>
    <table>
    <tr>
      <td>Email:</td>
      <td><input type="text" name="email" [(ngModel)]="user.email"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="password" [(ngModel)]="user.password" autocomplete="password"></td>
    </tr>
    <tr>
      <td><p>New?<a [routerLink]="['/registration']"> Register here</a></p></td>
      <td><button (click)="login()">Sign in</button></td>
    </tr>
    </table>
  </form>
</div>

