<span>From </span>
<select name="start" [(ngModel)]="startLocation" (change)="showRoute()">
  <option *ngFor="let a of activities" [ngValue]="a">{{ a.location }}</option>
</select>
<span> to </span>
<select name="end" (change)="showRoute()" [(ngModel)]="endLocation">
  <option *ngFor="let a of activities" [ngValue]="a">{{ a.location }}</option>
</select>
<p> by 
<select name="travelMode" (change)="showRoute()" [(ngModel)]="travelMode">
  <option value="DRIVING">Driving</option>
  <option value="WALKING">Walking</option>
  <option value="BICYCLING">Bicycling</option>
  <option value="TRANSIT">Transit</option>
</select>
<button *ngIf="!show_route" (click)="showRoute()" class="btn-clear-get">Get route</button>
<button *ngIf="show_route" (click)="clearRoute()" class="btn-clear-get">Clear route</button><span *ngIf="!show_route"> or </span>
<button *ngIf="!show_route" (click)="showConnectedRoutes()" class="btn-connected">Show connected routes</button></p>
<div id="map" #gmap style="width:100%;height:400px"></div>
<div id="directionsPanel" style="width:100%;height:200px"></div>
