<p style="margin-top: 600px" id="para">

</p>
<div id="slide-2" class="homeSlide"  data-anchor-target="#para">

  <div class="bcg" data-bottom="opacity: 1; width: 100%; height: 100%; top: 0%; left: 0%;" data-40p-top="opacity: 0; width: 196%; height: 196%; top: -48%; left: -48%;" data-anchor-target="#slide-2"></div>
  <div class="plaxEl" data-bottom="opacity: 1; position: fixed; top: 206px; width: 100%; left: 0;" data-center="opacity: 0;" data-10p-top="opacity: 0;" data-top="opacity: 0;" data-anchor-target="#slide-2">
        <h2>Trip Planner</h2>
        <p>Scroll to log in</p>
  </div>
  <div data-bottom="opacity: 0; position: fixed; top: 206px; width: 100%; left: 0;" data-center="opacity: 1;" data-10p-top="opacity: 1;" data-top="opacity: 1;" data-anchor-target="#slide-2">
    <app-login ></app-login>
  </div>
</div>
